.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 { transition-delay: 0.2s; }
